<!-- Top-right Profile Button -->
<div style="display: flex; justify-content: flex-start; margin: 10px;">
    <button style="margin-right: 10px;" mat-raised-button color="accent" (click)="goToProfile()">
      My Profile
    </button>
    <button mat-raised-button color="warn" (click)="logout()" style="background-color: #C8C8C8; color: white;">Logout</button>

  </div>
  
  <!-- Movie Cards -->
  <!-- Movie Cards (Horizontal Scroll) -->
<div class="movie-scroll-container">
    <mat-card *ngFor="let movie of movies" class="movie-card">
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
      </mat-card-header>
      
      <img mat-card-image [src]="movie.ImagePath" [alt]="movie.Title" />
      
      <mat-card-actions>
        <button mat-button color="primary" (click)="openDialog(movie, 'genre')">Genre</button>
        <button mat-button color="primary" (click)="openDialog(movie, 'director')">Director</button>
        <button mat-button color="primary" (click)="openDialog(movie, 'details')">Synopsis</button>
        <mat-icon
          (click)="toggleFavorite(movie._id)"
          [style.color]="isFavorite(movie._id) ? 'red' : ''"
          style="cursor: pointer;"
        >
          {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
  